
// Changed themes

//$card-border-width: medium;
//$card-border-color: #a9a9a9;
$card-border-color: #6c757d;
$light: #f0f0f0;
$headings-font-family: "Open Sans";


// Bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
//
// @import "../node_modules/bootstrap/scss/grid";



// My styling
a.no-underline {
  text-decoration: none;
}

div.card:hover {
  opacity: 0.8;
}

div.card-body>* {
  color:$dark;
}
